$disabled-scroll = unquote('.disabled-onepage-scroll')


body
html
  overflow: hidden;
  transition: opacity 400ms;
  display block
  size 100%  

  &{$disabled-scroll}
    position: inherit



.onepage
  

  &-wrapper
    display: block;
    size 100%
    position: relative;
    transform-style: preserve-3d;

    {$disabled-scroll} &
      position: inherit
      transform: none !important;
      min-height: 100%;
      


  &-pagination
    ctr y
    right 25px
    z-index: 5
    vLine 15px

    a
      display block
      size 10px
      background-color $white-c
      box-shadow 0 0 10px rgba(0, 0, 0, .2)
      border-radius 50%
      cursor pointer
      trans background-color
      pressable()
      
      &:hover
      &.active
        background-color #888
        box-shadow none
        
      &:focus
        outline none

      &.active
        cursor default
        pressable 0


    {$disabled-scroll} &
      display none   



  &-section
    size 100%
    

    {$disabled-scroll} &
      position: relative !important;
      top: auto !important;
      left: auto !important;
