// Height and width
$base-max-w              = 1200px
$base-min-w              = 320px
$sticky-footer           = false

// Colors
$brand-c                 = #f8de2e
$gray-c                  = #e9e9e9
$white-c                 = #fff
$black-c                 = #222

$base-font-c             = #444
$input-c                 = $base-font-c


//Grid
$grid-gap                = 10px
$grid-col                = 24


//Used everywhere
$unit-w = 165px
$unit-gap = 30px


// fonts
$base-f-size             = 14px
$base-f-height           = 1.4
$base-f                  = 'PFEncoreSansPro', sans-serif

//path
$font-path               = "../fonts/"
$img-path                = "../img/"

//misc
$spacer                  = 15px
$spacer-L                = ($spacer + 5px)
$spacer-S                = ($spacer - 5px)

$link-decoration         = underline
$link-decoration-hover   = none

$transition-duration     = .4s


/*z index*/
$z-S                     = 1
$z-M                     = 10
$z-L                     = 100
$z-XL                    = 1000
$z-always-visible        = 1000000


/*Breakpoints*/
$xxs                     = 320px
$xs                      = 480px
$sm                      = 768px
$md                      = 960px
$lg                      = 1200px
