// Height and width
$base-max-w              = 960px
$base-min-w              = 320px
$sticky-footer           = true

// colors
$base-font-c             = #565656
$title-c 		             = #696969
$brand-c                 = #02a3e6
$body-c                  = #fff
$border-c                = #ccc
$input-c                 = $base-font-c


//Grid
$grid-gap                = 10px
$grid-col                = 24


// fonts
$base-f-size             = 13px
$base-f-height           = 1.4
$base-f                  = Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-face               = false
$brand-f                 = $base-f
$title-f                 = $brand-f

//path
$font-path               = "../fonts/"
$img-path                = "../img/"

//misc
$spacer                  = 15px
$spacer-L                = ($spacer + 5px)
$spacer-S                = ($spacer - 5px)

$link-decoration         = underline
$link-decoration-hover   = none

$transition-duration     = .4s


/*z index*/
$z-S                     = 1
$z-M                     = 10
$z-L                     = 100
$z-XL                    = 1000
$z-always-visible        = 1000000


/*Breakpoints*/
$xxs                     = 320px
$xs                      = 480px
$sm                      = 768px
$md                      = 960px
$lg                      = 1200px
