/*--------------------------------------
  Some useful utility classes
--------------------------------------*/
$hLine-cases = '1'  top
              ,'2'  middle
              ,'21' baseline
              ,'3'  bottom

.l-hLine
  hLine()

for $each in $hLine-cases
  .l-hLine--{unquote($each[0])}
    hLine($each[1])


.l-container
  container()


.hide-text,
.text-hide
  hide-text()


.is-shown
  visibility visible !important
  position relative !important

.is-hidden
  visibility hidden !important
  position absolute !important
