/*--------------------------------------
  Some useful utility classes
--------------------------------------*/
$hLine-cases = '1'  top
              ,'2'  middle
              ,'21' baseline
              ,'3'  bottom

.l-hLine
  hLine()

for $each in $hLine-cases
  .l-hLine--{unquote($each[0])}
    hLine($each[1])


.l-container
  container()


.hide-text,
.text-hide
  hide-text()


.is-shown
  visibility visible !important
  position relative !important

.is-hidden
  visibility hidden !important
  position absolute !important




/*----------------------------------------
  Typography
----------------------------------------*/
.uv-typography
  font-size 18px
  font-weight 300

  h4,ul,li,p
    margin-bottom 5px
  
  h4
    font-weight 700
    line-height 22px

  i
    font-style italic
    
  ul
    make-bullit-list $brand-c
      
  

/*----------------------------------------
  Button
----------------------------------------*/
.uv-btn
  pressable()
  handle-negative-z-index()
  size 100% $h
  height 50px
  border-size 3px
  border-style solid
  padding 0
  font-size: 13px
  font-weight 900
  text-align center
  text-transform: uppercase
  cursor pointer
  overflow hidden
  trans color

  &:focus
    outline none
    
  .csstransforms &
    &:before
      pb left top
      size 100%
      trans transform
      transform rotateY(90deg) skew(45deg)
      backface-visibility hidden
      z-index: -1
      
    &:hover:before
      transform rotateY(0) skew(45deg)
      
  

  -theme($def-c,$hov-c)
    color $def-c
    border-color $def-c

    &:hover
      color $hov-c

    .csstransforms &
      &:before
        background-color $def-c
        
    .no-csstransforms &
      &:hover
        background-color $hov-c
    

  //default theme: black-n-white
  -theme($black-c,$white-c)
  
  &--brand-n-black
    -theme($brand-c,$black-c)

  &--white-n-black
    -theme($white-c,$black-c)


/*----------------------------------------
  Sections
----------------------------------------*/
.uv-section
  
  // can't extend parent dependency
  &__container
    section-container()

  $types = 'gray' 'white' 'brand' 'black'
  
  for $type in $types
    &--{unquote($type)}
      background-color lookup('$' + $type + '-c')



  &__title
    color $black-c
    font-size 48px
    font-weight 900
    text-transform uppercase
    
    &--white
      color $white-c

  

/*----------------------------------------
  Nav component
----------------------------------------*/
$nav = unquote('.uv-nav')
.uv-nav
  position relative
  z-index: 1
  

  &--horisontal
    hLine bottom $unit-gap
    

  &__unit
    width: 165px
    position relative
    overflow hidden
    font-size 14px
    line-height: 1
    font-weight 700
    text-transform uppercase
    trans()
    cursor pointer

    .csstransforms &
      &:before
        trans()
        pb left right top bottom
        transform translateY(calc(100% \- 5px))
        z-index: -1
   

    &.is-active
      cursor default
      padding-left 10px
      
      .csstransforms &
        &:before
          transform translateY(0)


-set-nav-theme($def-text-c, $hov-text-c, $def-badge-c, $act-badge-c, $hov-badge-c = null)
  color $def-text-c

  .csstransforms &
    &:before
      background-color $def-badge-c
 

  &:hover
    .csstransforms &
      &:before
        if $hov-badge-c isnt null
          background-color $hov-badge-c
        else
          background-color $act-badge-c
    .no-csstransforms &
      color $hov-text-c


  &.is-active
    color $hov-text-c
    
    .csstransforms &
      &:before
        background-color $act-badge-c
    
    .no-csstransforms &
      background-color $act-badge-c




/*----------------------------------------
  Social
----------------------------------------*/
.uv-social
  hLine middle 10px
  
  &__link
    hide-text()
    ctr-at 33px
    border-radius 50%
    background-color darken($black-c, 50%)
    color $white-c
    trans()
    
    &:before
      font-size 14px // font-size 0 at parent

    &:hover
      color $brand-c
      complex-transform('y', -3px)




  &--article
    hLine middle 15px
    
    &__label    
      color #555
      font-size 11px
      font-weight 700
      text-transform uppercase

    &__wrap
      hLine middle 5px



/*----------------------------------------
  Article
----------------------------------------*/
.uv-article
  @extend .uv-typography
  font-weight 400
  font-size 16px


  &__title
    position relative
    font-size 24px
    font-weight 700
    font-style italic
    padding-bottom 20px
    margin-bottom 20px
    
    //divider
    &:before
      pb left bottom
      size 120px 4px
      background-color alpha($gray-c, .5)

      .uv-modal__wrap.gray &
        background-color alpha($black-c, .5)


  ul
    make-bullit-list($white-c)

    .uv-modal__wrap.gray &
      make-bullit-list($black-c)
    


  &__sub-title
    color $white-c
    text-transform: uppercase
    font-weight 500
    margin-top 20px

    .uv-modal__wrap.gray &
      color $black-c



  &__footer
    margin-top 30px
    padding-top 30px
    border-top 1px solid alpha($gray-c, .5)
    
    .flexbox &
      @extend .f-box
      @extend .f-align--2-13
      
    .no-flexbox &
      jLine()

    .uv-modal__wrap.gray &
      border-top-color alpha($black-c, .5)


  &__btn
    width 350px
    @extend .uv-btn

    .uv-modal__wrap.black &
      @extend .uv-btn--brand-n-black

  

/*----------------------------------------
  Closer
----------------------------------------*/
make-closer()
  @extend .uv-icon--close
  ctr-at 40px
  background-color #141414
  absolute right 20px top 20px
  z-index: 1
  color alpha($white-c,.7)
  trans color
  cursor: pointer
  
  &:hover
    color $white-c

  &:active
    margin-top 1px
