/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$for-whom-1-name = 'for-whom-1';
$for-whom-1-x = 0px;
$for-whom-1-y = 76px;
$for-whom-1-offset-x = 0px;
$for-whom-1-offset-y = -76px;
$for-whom-1-width = 78px;
$for-whom-1-height = 65px;
$for-whom-1-total-width = 417px;
$for-whom-1-total-height = 366px;
$for-whom-1-image = '../img/ua-web-challenge-sprite.png';
$for-whom-1 = 0px 76px 0px -76px 78px 65px 417px 366px '../img/ua-web-challenge-sprite.png' 'for-whom-1';
$for-whom-2-name = 'for-whom-2';
$for-whom-2-x = 60px;
$for-whom-2-y = 217px;
$for-whom-2-offset-x = -60px;
$for-whom-2-offset-y = -217px;
$for-whom-2-width = 58px;
$for-whom-2-height = 65px;
$for-whom-2-total-width = 417px;
$for-whom-2-total-height = 366px;
$for-whom-2-image = '../img/ua-web-challenge-sprite.png';
$for-whom-2 = 60px 217px -60px -217px 58px 65px 417px 366px '../img/ua-web-challenge-sprite.png' 'for-whom-2';
$for-whom-3-name = 'for-whom-3';
$for-whom-3-x = 80px;
$for-whom-3-y = 76px;
$for-whom-3-offset-x = -80px;
$for-whom-3-offset-y = -76px;
$for-whom-3-width = 63px;
$for-whom-3-height = 63px;
$for-whom-3-total-width = 417px;
$for-whom-3-total-height = 366px;
$for-whom-3-image = '../img/ua-web-challenge-sprite.png';
$for-whom-3 = 80px 76px -80px -76px 63px 63px 417px 366px '../img/ua-web-challenge-sprite.png' 'for-whom-3';
$for-whom-4-name = 'for-whom-4';
$for-whom-4-x = 0px;
$for-whom-4-y = 143px;
$for-whom-4-offset-x = 0px;
$for-whom-4-offset-y = -143px;
$for-whom-4-width = 65px;
$for-whom-4-height = 72px;
$for-whom-4-total-width = 417px;
$for-whom-4-total-height = 366px;
$for-whom-4-image = '../img/ua-web-challenge-sprite.png';
$for-whom-4 = 0px 143px 0px -143px 65px 72px 417px 366px '../img/ua-web-challenge-sprite.png' 'for-whom-4';
$for-whom-5-name = 'for-whom-5';
$for-whom-5-x = 0px;
$for-whom-5-y = 0px;
$for-whom-5-offset-x = 0px;
$for-whom-5-offset-y = 0px;
$for-whom-5-width = 76px;
$for-whom-5-height = 74px;
$for-whom-5-total-width = 417px;
$for-whom-5-total-height = 366px;
$for-whom-5-image = '../img/ua-web-challenge-sprite.png';
$for-whom-5 = 0px 0px 0px 0px 76px 74px 417px 366px '../img/ua-web-challenge-sprite.png' 'for-whom-5';
$for-whom-6-name = 'for-whom-6';
$for-whom-6-x = 301px;
$for-whom-6-y = 79px;
$for-whom-6-offset-x = -301px;
$for-whom-6-offset-y = -79px;
$for-whom-6-width = 41px;
$for-whom-6-height = 77px;
$for-whom-6-total-width = 417px;
$for-whom-6-total-height = 366px;
$for-whom-6-image = '../img/ua-web-challenge-sprite.png';
$for-whom-6 = 301px 79px -301px -79px 41px 77px 417px 366px '../img/ua-web-challenge-sprite.png' 'for-whom-6';
$logo-copyright-name = 'logo-copyright';
$logo-copyright-x = 0px;
$logo-copyright-y = 284px;
$logo-copyright-offset-x = 0px;
$logo-copyright-offset-y = -284px;
$logo-copyright-width = 89px;
$logo-copyright-height = 35px;
$logo-copyright-total-width = 417px;
$logo-copyright-total-height = 366px;
$logo-copyright-image = '../img/ua-web-challenge-sprite.png';
$logo-copyright = 0px 284px 0px -284px 89px 35px 417px 366px '../img/ua-web-challenge-sprite.png' 'logo-copyright';
$pricing-gold-name = 'pricing-gold';
$pricing-gold-x = 0px;
$pricing-gold-y = 321px;
$pricing-gold-offset-x = 0px;
$pricing-gold-offset-y = -321px;
$pricing-gold-width = 45px;
$pricing-gold-height = 45px;
$pricing-gold-total-width = 417px;
$pricing-gold-total-height = 366px;
$pricing-gold-image = '../img/ua-web-challenge-sprite.png';
$pricing-gold = 0px 321px 0px -321px 45px 45px 417px 366px '../img/ua-web-challenge-sprite.png' 'pricing-gold';
$pricing-light-name = 'pricing-light';
$pricing-light-x = 344px;
$pricing-light-y = 43px;
$pricing-light-offset-x = -344px;
$pricing-light-offset-y = -43px;
$pricing-light-width = 73px;
$pricing-light-height = 41px;
$pricing-light-total-width = 417px;
$pricing-light-total-height = 366px;
$pricing-light-image = '../img/ua-web-challenge-sprite.png';
$pricing-light = 344px 43px -344px -43px 73px 41px 417px 366px '../img/ua-web-challenge-sprite.png' 'pricing-light';
$pricing-premium-name = 'pricing-premium';
$pricing-premium-x = 344px;
$pricing-premium-y = 204px;
$pricing-premium-offset-x = -344px;
$pricing-premium-offset-y = -204px;
$pricing-premium-width = 54px;
$pricing-premium-height = 45px;
$pricing-premium-total-width = 417px;
$pricing-premium-total-height = 366px;
$pricing-premium-image = '../img/ua-web-challenge-sprite.png';
$pricing-premium = 344px 204px -344px -204px 54px 45px 417px 366px '../img/ua-web-challenge-sprite.png' 'pricing-premium';
$whats-new-1-name = 'whats-new-1';
$whats-new-1-x = 181px;
$whats-new-1-y = 217px;
$whats-new-1-offset-x = -181px;
$whats-new-1-offset-y = -217px;
$whats-new-1-width = 59px;
$whats-new-1-height = 54px;
$whats-new-1-total-width = 417px;
$whats-new-1-total-height = 366px;
$whats-new-1-image = '../img/ua-web-challenge-sprite.png';
$whats-new-1 = 181px 217px -181px -217px 59px 54px 417px 366px '../img/ua-web-challenge-sprite.png' 'whats-new-1';
$whats-new-2-name = 'whats-new-2';
$whats-new-2-x = 236px;
$whats-new-2-y = 65px;
$whats-new-2-offset-x = -236px;
$whats-new-2-offset-y = -65px;
$whats-new-2-width = 58px;
$whats-new-2-height = 67px;
$whats-new-2-total-width = 417px;
$whats-new-2-total-height = 366px;
$whats-new-2-image = '../img/ua-web-challenge-sprite.png';
$whats-new-2 = 236px 65px -236px -65px 58px 67px 417px 366px '../img/ua-web-challenge-sprite.png' 'whats-new-2';
$whats-new-3-name = 'whats-new-3';
$whats-new-3-x = 67px;
$whats-new-3-y = 143px;
$whats-new-3-offset-x = -67px;
$whats-new-3-offset-y = -143px;
$whats-new-3-width = 61px;
$whats-new-3-height = 67px;
$whats-new-3-total-width = 417px;
$whats-new-3-total-height = 366px;
$whats-new-3-image = '../img/ua-web-challenge-sprite.png';
$whats-new-3 = 67px 143px -67px -143px 61px 67px 417px 366px '../img/ua-web-challenge-sprite.png' 'whats-new-3';
$whats-new-4-name = 'whats-new-4';
$whats-new-4-x = 344px;
$whats-new-4-y = 145px;
$whats-new-4-offset-x = -344px;
$whats-new-4-offset-y = -145px;
$whats-new-4-width = 52px;
$whats-new-4-height = 57px;
$whats-new-4-total-width = 417px;
$whats-new-4-total-height = 366px;
$whats-new-4-image = '../img/ua-web-challenge-sprite.png';
$whats-new-4 = 344px 145px -344px -145px 52px 57px 417px 366px '../img/ua-web-challenge-sprite.png' 'whats-new-4';
$spritesheet-width = 417px;
$spritesheet-height = 366px;
$spritesheet-image = '../img/ua-web-challenge-sprite.png';
$spritesheet-sprites = $for-whom-1 $for-whom-2 $for-whom-3 $for-whom-4 $for-whom-5 $for-whom-6 $logo-copyright $pricing-gold $pricing-light $pricing-premium $whats-new-1 $whats-new-2 $whats-new-3 $whats-new-4;
$spritesheet = 417px 366px '../img/ua-web-challenge-sprite.png' $spritesheet-sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
