/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$whats-new-1-name = 'whats-new-1';
$whats-new-1-x = 121px;
$whats-new-1-y = 69px;
$whats-new-1-offset-x = -121px;
$whats-new-1-offset-y = -69px;
$whats-new-1-width = 59px;
$whats-new-1-height = 54px;
$whats-new-1-total-width = 238px;
$whats-new-1-total-height = 136px;
$whats-new-1-image = '../img/ua-web-challenge-sprite.png';
$whats-new-1 = 121px 69px -121px -69px 59px 54px 238px 136px '../img/ua-web-challenge-sprite.png' 'whats-new-1';
$whats-new-2-name = 'whats-new-2';
$whats-new-2-x = 0px;
$whats-new-2-y = 69px;
$whats-new-2-offset-x = 0px;
$whats-new-2-offset-y = -69px;
$whats-new-2-width = 58px;
$whats-new-2-height = 67px;
$whats-new-2-total-width = 238px;
$whats-new-2-total-height = 136px;
$whats-new-2-image = '../img/ua-web-challenge-sprite.png';
$whats-new-2 = 0px 69px 0px -69px 58px 67px 238px 136px '../img/ua-web-challenge-sprite.png' 'whats-new-2';
$whats-new-3-name = 'whats-new-3';
$whats-new-3-x = 63px;
$whats-new-3-y = 0px;
$whats-new-3-offset-x = -63px;
$whats-new-3-offset-y = 0px;
$whats-new-3-width = 61px;
$whats-new-3-height = 67px;
$whats-new-3-total-width = 238px;
$whats-new-3-total-height = 136px;
$whats-new-3-image = '../img/ua-web-challenge-sprite.png';
$whats-new-3 = 63px 0px -63px 0px 61px 67px 238px 136px '../img/ua-web-challenge-sprite.png' 'whats-new-3';
$whats-new-4-name = 'whats-new-4';
$whats-new-4-x = 186px;
$whats-new-4-y = 59px;
$whats-new-4-offset-x = -186px;
$whats-new-4-offset-y = -59px;
$whats-new-4-width = 52px;
$whats-new-4-height = 57px;
$whats-new-4-total-width = 238px;
$whats-new-4-total-height = 136px;
$whats-new-4-image = '../img/ua-web-challenge-sprite.png';
$whats-new-4 = 186px 59px -186px -59px 52px 57px 238px 136px '../img/ua-web-challenge-sprite.png' 'whats-new-4';
$spritesheet-width = 238px;
$spritesheet-height = 136px;
$spritesheet-image = '../img/ua-web-challenge-sprite.png';
$spritesheet-sprites = $whats-new-1 $whats-new-2 $whats-new-3 $whats-new-4;
$spritesheet = 238px 136px '../img/ua-web-challenge-sprite.png' $spritesheet-sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
