/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$for-whom-1-name = 'for-whom-1';
$for-whom-1-x = 0px;
$for-whom-1-y = 76px;
$for-whom-1-offset-x = 0px;
$for-whom-1-offset-y = -76px;
$for-whom-1-width = 78px;
$for-whom-1-height = 65px;
$for-whom-1-total-width = 342px;
$for-whom-1-total-height = 341px;
$for-whom-1-image = '../img/ua-web-challenge-sprite.png';
$for-whom-1 = 0px 76px 0px -76px 78px 65px 342px 341px '../img/ua-web-challenge-sprite.png' 'for-whom-1';
$for-whom-2-name = 'for-whom-2';
$for-whom-2-x = 60px;
$for-whom-2-y = 217px;
$for-whom-2-offset-x = -60px;
$for-whom-2-offset-y = -217px;
$for-whom-2-width = 58px;
$for-whom-2-height = 65px;
$for-whom-2-total-width = 342px;
$for-whom-2-total-height = 341px;
$for-whom-2-image = '../img/ua-web-challenge-sprite.png';
$for-whom-2 = 60px 217px -60px -217px 58px 65px 342px 341px '../img/ua-web-challenge-sprite.png' 'for-whom-2';
$for-whom-3-name = 'for-whom-3';
$for-whom-3-x = 80px;
$for-whom-3-y = 76px;
$for-whom-3-offset-x = -80px;
$for-whom-3-offset-y = -76px;
$for-whom-3-width = 63px;
$for-whom-3-height = 63px;
$for-whom-3-total-width = 342px;
$for-whom-3-total-height = 341px;
$for-whom-3-image = '../img/ua-web-challenge-sprite.png';
$for-whom-3 = 80px 76px -80px -76px 63px 63px 342px 341px '../img/ua-web-challenge-sprite.png' 'for-whom-3';
$for-whom-4-name = 'for-whom-4';
$for-whom-4-x = 0px;
$for-whom-4-y = 143px;
$for-whom-4-offset-x = 0px;
$for-whom-4-offset-y = -143px;
$for-whom-4-width = 65px;
$for-whom-4-height = 72px;
$for-whom-4-total-width = 342px;
$for-whom-4-total-height = 341px;
$for-whom-4-image = '../img/ua-web-challenge-sprite.png';
$for-whom-4 = 0px 143px 0px -143px 65px 72px 342px 341px '../img/ua-web-challenge-sprite.png' 'for-whom-4';
$for-whom-5-name = 'for-whom-5';
$for-whom-5-x = 0px;
$for-whom-5-y = 0px;
$for-whom-5-offset-x = 0px;
$for-whom-5-offset-y = 0px;
$for-whom-5-width = 76px;
$for-whom-5-height = 74px;
$for-whom-5-total-width = 342px;
$for-whom-5-total-height = 341px;
$for-whom-5-image = '../img/ua-web-challenge-sprite.png';
$for-whom-5 = 0px 0px 0px 0px 76px 74px 342px 341px '../img/ua-web-challenge-sprite.png' 'for-whom-5';
$for-whom-6-name = 'for-whom-6';
$for-whom-6-x = 301px;
$for-whom-6-y = 79px;
$for-whom-6-offset-x = -301px;
$for-whom-6-offset-y = -79px;
$for-whom-6-width = 41px;
$for-whom-6-height = 77px;
$for-whom-6-total-width = 342px;
$for-whom-6-total-height = 341px;
$for-whom-6-image = '../img/ua-web-challenge-sprite.png';
$for-whom-6 = 301px 79px -301px -79px 41px 77px 342px 341px '../img/ua-web-challenge-sprite.png' 'for-whom-6';
$whats-new-1-name = 'whats-new-1';
$whats-new-1-x = 120px;
$whats-new-1-y = 217px;
$whats-new-1-offset-x = -120px;
$whats-new-1-offset-y = -217px;
$whats-new-1-width = 59px;
$whats-new-1-height = 54px;
$whats-new-1-total-width = 342px;
$whats-new-1-total-height = 341px;
$whats-new-1-image = '../img/ua-web-challenge-sprite.png';
$whats-new-1 = 120px 217px -120px -217px 59px 54px 342px 341px '../img/ua-web-challenge-sprite.png' 'whats-new-1';
$whats-new-2-name = 'whats-new-2';
$whats-new-2-x = 236px;
$whats-new-2-y = 134px;
$whats-new-2-offset-x = -236px;
$whats-new-2-offset-y = -134px;
$whats-new-2-width = 58px;
$whats-new-2-height = 67px;
$whats-new-2-total-width = 342px;
$whats-new-2-total-height = 341px;
$whats-new-2-image = '../img/ua-web-challenge-sprite.png';
$whats-new-2 = 236px 134px -236px -134px 58px 67px 342px 341px '../img/ua-web-challenge-sprite.png' 'whats-new-2';
$whats-new-3-name = 'whats-new-3';
$whats-new-3-x = 67px;
$whats-new-3-y = 143px;
$whats-new-3-offset-x = -67px;
$whats-new-3-offset-y = -143px;
$whats-new-3-width = 61px;
$whats-new-3-height = 67px;
$whats-new-3-total-width = 342px;
$whats-new-3-total-height = 341px;
$whats-new-3-image = '../img/ua-web-challenge-sprite.png';
$whats-new-3 = 67px 143px -67px -143px 61px 67px 342px 341px '../img/ua-web-challenge-sprite.png' 'whats-new-3';
$whats-new-4-name = 'whats-new-4';
$whats-new-4-x = 54px;
$whats-new-4-y = 284px;
$whats-new-4-offset-x = -54px;
$whats-new-4-offset-y = -284px;
$whats-new-4-width = 52px;
$whats-new-4-height = 57px;
$whats-new-4-total-width = 342px;
$whats-new-4-total-height = 341px;
$whats-new-4-image = '../img/ua-web-challenge-sprite.png';
$whats-new-4 = 54px 284px -54px -284px 52px 57px 342px 341px '../img/ua-web-challenge-sprite.png' 'whats-new-4';
$spritesheet-width = 342px;
$spritesheet-height = 341px;
$spritesheet-image = '../img/ua-web-challenge-sprite.png';
$spritesheet-sprites = $for-whom-1 $for-whom-2 $for-whom-3 $for-whom-4 $for-whom-5 $for-whom-6 $whats-new-1 $whats-new-2 $whats-new-3 $whats-new-4;
$spritesheet = 342px 341px '../img/ua-web-challenge-sprite.png' $spritesheet-sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
