.uv-modal
  cursor: pointer    

  &__wrap
    absolute left right top bottom
    z-index: 100
    
    $types = 'gray' $black-c
            ,'black' $gray-c
    
    for $type in $types
      &.{unquote($type[0])}
        $clr = lookup('$'+$type[0]+'-c')
        background-color $clr
        color $type[1]



  &__content
    display none      


  &__wrap  &__content
    @extend .uv-typography
    section-container()
    display block
    
    .flexbox &
      @extend .f-box
      @extend .f-dir--col
      @extend .f-align--13-2
      


  &__closer
    make-closer()
    
    +lg()
      .csscalc &
        right s('calc(50% - %s / 2)', $base-max-w)
        