doctype html
html.no-js(lang='en')

  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    //- Temporary disabled before responsive has been provided
    //- meta(name='viewport', content='width=device-width,initial-scale=1')
    //- Modernizr
    script(src="assets/js/ua-web-challenge-modernizr.min.js")
    // Picture element HTML5 shiv
    script.
      document.createElement( "picture" );
    script(src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/2.3.0/picturefill.min.js")
    //- Primary stylesheet
    link(href='assets/css/ua-web-challenge-styles.min.css', rel='stylesheet')

  

  body(itemscope, itemtype='http://schema.org/WebPage')

    include ../unsorted/mixins.jade
    
    include ./pre-header.jade
    include ./nav.jade
  

    block content
    

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='assets/js/ua-web-challenge-plugins.js')
    script(src='assets/js/ua-web-challenge-scripts.js')
    // script(src='assets/js/ua-web-challenge-plugins.min.js')
    // script(src='assets/js/ua-web-challenge-scripts.min.js')
