.site-footer
  section.site-footer__container
    header
      small.site-footer__copy
        | Организатор  
        span.site-footer__copy__logo Web Challenge
        | ©  2015

    aside
      +socialButtons()

    footer
      Мы на связи: 
      a.site-footer__mail-link(href="mailto:box@uwcua.com") box@uwcua.com
