.site-footer
  section.site-footer__container
    header
      small.site-footer__copy
        | Организатор  
        span.site-footer__copy__logo Web Challenge
        | ©  2015

    aside
      ul.site-footer__social
        li
          a.site-footer__social__link.uv-icon--social-fb(href="#") Facebook
        li
          a.site-footer__social__link.uv-icon--social-vk(href="#") Vkontakte
        li
          a.site-footer__social__link.uv-icon--social-tw(href="#") Twitter

    footer
      Мы на связи: 
      a.site-footer__mail-link(href="mailto:box@uwcua.com") box@uwcua.com
