/*----------------------------------------
  Pre-header
----------------------------------------*/
.site-pre-header
  container()
  hLine()
  text-align right
  
  &__wrap
    fixed right left top
    z-index: 2
  
  &__container
    $half-x-padding = (15px / 2)
    display inline-block
    padding 15px $half-x-padding
    background-color $black-c
    &>*
      margin-x $half-x-padding

    .flexbox &
      @extend .f-line
      @extend .f-align--2-2
      

    .no-flexbox &
      hLine middle()

    
  &__btn
    @extend .uv-btn
    @extend .uv-btn--white-n-black
    size 170px 40px
    border-width 4px

    .viewing-page-1 &
      display none

/*----------------------------------------
  Header
----------------------------------------*/
.site-header
  prevent-flicker()
  make-skewed-bg 325px
  position relative
  overflow hidden
  color darken($black-c, 50%)
  background-color #000
  
  //background on right
  &:after
    pb right top bottom
    width 55%
    z-index: -2
    img('hero-bg')
    background-size cover
    
  
  
  &__container
    section-container()
    position relative

  
  &__header
    height inherit
    width 475px
    
    .flexbox &
      @extend .f-box
      @extend .f-dir--col
      @extend .f-align--1-2
    


  &__title
    text-transform: uppercase
    font-weight 900
    font-size 130px
    line-height: .75

    &__font-accent
      font-weight 100
      
    &__font-equal
      display block
      letter-spacing 3px


  &__time
    //inherited styles from &__title
    margin-left 5px
    font-size 40px
    font-weight 100
    text-transform: lowercase
    

  &__btn
    @extend .uv-btn
    @extend .uv-btn
    border-width 6px
    height 70px
    margin-y 60px
    

  &__cite
    color #7B6C03
    font-size 14px


  &__video
    fixed left top right bottom
    z-index: 1000
    trans transform
    
    &.is-disabled
      .csstransforms &
        transform translateY(-100%) 
      .no-csstransforms &
        display none
        

    &__closer
      make-closer()
      top auto
      bottom 20px
      background-color $brand-c
      color $black-c
      z-index: 1
    


    &__trigger
      @extend .uv-icon--play-lg
      ctr y
      right 0
      font-weight 300
      color $gray-c
      font-size 12px
      text-align center
      cursor pointer
      
      //icon
      &:before
        display block
        margin 0 auto 15px
        font-size 75px
        line-height: 1
        color $white-c
        trans()

      &:hover:before
        color $brand-c
        
      &:active:before
        relative top 1px
        
        
      &__accent
        display block
        color $white-c
        font-size 10px
        font-weight 700
        text-transform uppercase



/*----------------------------------------
  Nav
----------------------------------------*/
.site-nav
  $rt-align-val = s('calc((100% - %s) / 2)', $base-max-w)

  absolute right top
  min-width 400px
  size 50% 100%
  padding-right $rt-align-val
  z-index: 1
  trans()
  

  .flexbox &
    @extend .f-box
    @extend .f-align--2-3
  
  .csstransforms &
    transform translateX(100%)
    
    &:before
      pb left right top bottom
      background-color $black-c
      transform skew(-15deg)
      transform-origin 50% 100%
      z-index: -1
    
    &.is-active
      transform translateX(0)


  .no-csstransforms &
    background-color $black-c
    left 100%
    
    &.is-active
      left auto
      right 0
      

  &__trigger
    pressable()
    @extend .uv-icon--menu
    ctr-at 40px
    background-color #191919
    color $white-c
    font-size 14px
    cursor pointer
    trans color

    .flexbox &
      @extend .f-line
      
    .no-flexbox &
      display inline-block

    &:hover
      color $brand-c

    &.is-active
      @extend .uv-icon--close
      color alpha($white-c, 50%)

      &:hover
        color $white-c
        
    

  &__list
    text-align right
    

  &__link
    display block
    margin-bottom 10px
    font-size 36px
    font-weight 700
    color $white-c
    trans()

    &:hover
      color $brand-c      
      padding-right 15px    


/*----------------------------------------
  Footer
----------------------------------------*/
.site-footer
  // Tip:
  // &__wrap - outside
  // &__container - inside
  $h = 60px
  
  @extend .uv-section--black
  height $h
  color #555
  font-size 14px
  font-weight 200
  
  .flexbox &
    width 100%

    &__wrap
      @extend .f-box
      @extend .f-dir--col
      @extend .f-align--1-13


  .no-flexbox &
    margin-top -($h)
  
    &__wrap
      height inherit
  
      &__main
        height inherit
        padding-bottom: $h
          

  &__container
    height inherit
    container()
    .flexbox &
      @extend .f-box
      @extend .f-align--2-13
    .no-flexbox &
      jLine()


  &__copy
    hLine middle
    
    &__logo
      hide-text()
      sprite-retina $logo-copyright
      margin-x 10px

  
  
  &__mail-link
    color $white-c
    
    &:hover
      text-decoration: underline
