nav.site-nav
  ul.site-nav__list
    li#[a.site-nav__link(href="#") Главная]
    li#[a.site-nav__link(href="#") Что нового?]
    li#[a.site-nav__link(href="#") Для кого]
    li#[a.site-nav__link(href="#") Спикеры]
    li#[a.site-nav__link(href="#") Программа]
    li#[a.site-nav__link(href="#") Билеты]
    li#[a.site-nav__link(href="#") Видео]
    li#[a.site-nav__link(href="#") Партнеры]
