nav.site-nav
  ul.site-nav__list
    li#[a.site-nav__link(href="#") Главная]
    li#[a.site-nav__link(href="#") Главная]
    li#[a.site-nav__link(href="#") Главная]
    li#[a.site-nav__link(href="#") Главная]
    li#[a.site-nav__link(href="#") Главная]