aside.site-pre-header
  +buyTicketBtn('site-pre-header__btn')

  .site-pre-header__container
    select
      option(value="RU" default)
      option(value="УК")
      option(value="EN")
    span.site-nav__opener
