aside.site-pre-hdr
  +buyTicketBtn('site-pre-hdr__btn')

  .site-pre-hdr__container
    select
      option(value="RU" default)
      option(value="УК")
      option(value="EN")
    span.site-nav__opener
