aside.site-pre-header__wrap

  .site-pre-header

    .site-pre-header__container
      +buyTicketBtn('site-pre-header__btn')
      select
        option(value="RU" default)
        option(value="УК")
        option(value="EN")
      span.site-nav__trigger
