aside.site-pre-header__wrap

  .site-pre-header

    .site-pre-header__container
      +buyTicketBtn('site-pre-header__btn')
      select
        option(value="РУ" default) РУ
        option(value="УК") УК
        option(value="EN") EN
      span.site-nav__trigger
