.onepage-section.s-speakers
  - speakers = ['front-end', 'back-end', 'qa', 'web-design']

  section.uv-section__container
    header
      h2.s-speakers__title Спикеры
    
      div.s-speakers__header
        ul.s-speakers__nav
          li.s-speakers__nav__unit.is-active(data-speakers-type="all") все спикеры
          each speaker in speakers
            li.s-speakers__nav__unit(data-speakers-type="#{speaker}") #{speaker}

        div.s-speakers__slider__nav
          .s-speakers__slider__counter__wrap
            span.s-speakers__slider__counter.current
            | /
            span.s-speakers__slider__counter.total
          //- dynamic arrows insertion
          .s-speakers__slider__arrows
            span.s-speakers__slider__arrows__unit.prev
            span.s-speakers__slider__arrows__unit.next


    ul.s-speakers__slider
      - i = 0
      while i < 9
        - i++
        each speaker in speakers
          li.uv-modal.s-speakers__person(data-theme="black", data-speakers-type='#{speaker}')
            img.s-speakers__person__photo(src="http://fakeimg.pl/165x170/?text=Photo", alt="")
            div.s-speakers__person__body
              h3.s-speakers__person__name #{speaker}
              p розработчик комплексных супер-пупер решений
              article.uv-modal__content.uv-article
                header
                  h2.uv-article__title Build tons of multi-device JavaScript applications, design patterns & high performance UI
                p И вот я беру хрустальный шар и вангую, что уже совсем скоро все изменится.
                p Мы вступаем в эпоху Дилетантов. Клиенты будут решать большинство веб-задач без привлечения специально обученных людей (нас).
                ul
                  li search engine marketing (SEM)
                  li display advertising
                  li remarketing
                  li E-mail marketing
                  li Google Analytics
                p Остальное — на лекции. До встречи.
                aside
                  h3.uv-article__sub-title Олександр Трегуб
                  p Арт-директор дизайн-студии Akademia, сооснователь курса веб-дизайна в Школе визуальных технологий, автор "Метода казанка".
                  p Язык выступления: русский
                
                footer.uv-article__footer
                  +buyTicketBtn('uv-article__btn')
                  
                  div.uv-social--article__wrap
                    span.uv-social--article__label поделиться
                    +socialButtons('uv-social--article')

