doctype html
<!--[if IE 8]> <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie ie9" lang="en"> <![endif]-->
html.no-js(lang='en')

  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    
    //- Modernizr
    script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
    
    //- Primary stylesheet
    link(href='assets/css/ua-web-challenge-styles.min.css', rel='stylesheet')
    //- link(href='assets/css/ua-web-challenge-styles.css', rel='stylesheet')
    


  body(itemscope, itemtype='http://schema.org/WebPage')
    
    nav.site-nav
      ul.site-nav__list
        li#[a.site-nav__link(href="#") Главная]
        li#[a.site-nav__link(href="#") Главная]
        li#[a.site-nav__link(href="#") Главная]
        li#[a.site-nav__link(href="#") Главная]
        li#[a.site-nav__link(href="#") Главная]

    aside.pre-header
      .pre-header__container
        select
          option(value="RU" default)
          option(value="УК")
          option(value="EN")
        span.site-nav__opener

    
    .onepage

      //hero 
      section.onepage-section.hero
        .hero__container
          header.hero__header
            h1.hero__title
              span.hero__title__font-accent IT #[br]
              | Confe
              span.hero__title__font-equal rence
              span.hero__title__font-accent и
              | я
              time.hero__time 12 - 18 апреля
            button.hero__btn купить билет
            cite.hero__cite ... у нас интересней всего ©Женя

          aside.hero__video

        
      section.onepage-section 2
      section.onepage-section 3
      section.onepage-section 4


    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='assets/js/ua-web-challenge-plugins.js')
    script(src='assets/js/ua-web-challenge-scripts.js')
    // script(src='assets/js/ua-web-challenge-plugins.min.js')
    // script(src='assets/js/ua-web-challenge-scripts.min.js')

