make-skewed-bg(x)
  transform: translate3d(0,0,0);
  &:before
    pb top left -50%
    left s('calc(-50% + %s)', x)
    size 100%
    transform skew(-15deg)
    transform-origin 0 0
    background-color $brand-c
    backface-visibility hidden
    z-index: -1

/*----------------------------------------
  Typography
----------------------------------------*/
.uv-typography
  font-size 18px
  font-weight 300

  h4,ul,li,p
    margin-bottom 5px
  
  h4
    font-weight 700
    line-height 22px

  i
    font-style italic
    
  ul
    
    li
      position relative
      padding-left 20px
      
      &:before
        absolute left top 1px
        content '•'
        color $brand-c
      
  

/*----------------------------------------
  Button
----------------------------------------*/

make-btn($h = 50px, $clr = $base-font-c, $brd = 3px, $fz = 13px)
  pressable()
  size 100% $h
  color $clr
  border $brd solid $clr
  font-size: $fz
  font-weight 900
  text-align center
  text-transform: uppercase
  cursor pointer
  overflow hidden
  trans color
  
  &:focus
    outline none
    
  &:hover
    color $white-c
  
  .csstransforms &
    &:before
      pb left top
      size 100%
      trans transform
      transform rotateY(90deg) skew(45deg)
      background-color $clr
      backface-visibility hidden
      z-index: -1
      
    &:hover:before
      transform rotateY(0) skew(45deg)

      
  .no-csstransforms &
    &:hover
      background-color $clr
      

/*----------------------------------------
  Sections
----------------------------------------*/
.uv-section
  
  $types = 'gray' 'white' 'brand' 'black'
  
  for $type in $types
    &--{unquote($type)}
      background-color lookup('$' + $type + '-c')


  &__title
    color $title-c
    font-size 48px
    font-weight 900
    text-transform uppercase



/*----------------------------------------
  Hero (Grand section)
----------------------------------------*/
.s

  /*Section 1*/  
  &-hero
    $hero-font-c = darken($title-c, 50%)

    position relative
    overflow hidden
    color $hero-font-c
    transform: translate3d(0,0,0) //prevent flicker on button
    make-skewed-bg 325px
    

    &__container
      container()
      height 100%
      
      .flexbox &
        @extend .f-box
        @extend .f-align--13-13
      
    
    &__header
      width 475px
      
      .flexbox &
        @extend .f-box
        @extend .f-dir--col
        @extend .f-align--1-2
      


    &__title
      text-transform: uppercase
      font-weight 900
      font-size 130px
      line-height: .75

      &__font-accent
        font-weight 100
        
      &__font-equal
        display block
        letter-spacing 3px


    &__time
      //inherited styles from &__title
      margin-left 5px
      font-size 40px
      font-weight 100
      text-transform: lowercase
      

    &__btn
      make-btn 70px $hero-font-c 6px 13px
      margin-y 60px
      

    &__cite
      color #7B6C03
      font-size 14px
      
  
  /*Section 2*/
  &-whats-new
    container()
    height 100%
    
    .flexbox &
      @extend .f-box
      @extend .f-dir--col
      @extend .f-align--1-2
    
    
    &__title
      @extend .uv-section__title
      
      .cssvhunit &
        margin-bottom 15vh

      .no-cssvhunit &
        margin-bottom 100px
    

    &__article
      $quantity = 4
      
      position relative
      padding-left 85px
      font-weight 300


      //set icons
      &:before
        pb left top
  
      for $i in 1..$quantity
        &:nth-child({$i}):before
          sprite-retina lookup('$whats-new-' + $i)

      //set spaces
      set-space()
        margin-top: arguments
        &__list
          margin-top: -(arguments)
          
      .cssvhunit &
        set-space 10vh

      .no-cssvhunit &
        set-space 50px

      .flexbox &
        @extend .f-grid--11
      
      .no-flexbox &
        span(1/2)
        padding-right 10%
        
        

      &__list
        .flexbox &
          @extend .f-box
          @extend .f-align--1-13
          @extend .f-option--wrap
      
    
      &__title
        margin-bottom 10px
        color #444
        font-size 14px
        line-height: 1.2
        font-weight 700
        text-transform uppercase



  /*Section 3*/
  &-for-whom
    $sections-quantity = 6px

    @extend .uv-section--black
    make-skewed-bg -110px
    

    &__container
      height inherit
      container()
      
      for $i in 1..$sections-quantity
        &.pane-{$i}:before
          img('for-whom-' + $i)
            
      
      &:before
        pb left right top bottom
        background-size cover
        z-index: -2
        
      &:after
        pb left right top bottom
        background-color #000
        z-index: -3
      
      .flexbox &
        @extend .f-box
        @extend .f-align--2-13


    &__header
      .flexbox &
        @extend .f-grid--7


    &__title
      @extend .uv-section__title

      .cssvhunit &
        margin-bottom 5vh
        
      .no-cssvhunit &
        margin-bottom 50px
      

    &__nav
      width 200px

      &__unit
        position relative
        overflow hidden
        color $title-c
        font-size 14px
        line-height: 1
        font-weight 700
        text-transform uppercase
        trans color
        cursor pointer

        .cssvhunit &
          
        .flexbox &
          height 10vh
          @extend .f-box
          @extend .f-align--3-1
          padding-bottom 20px
          
        .no-flexbox &
          padding-y 40px 20px
          

        &:before
          pb left right top bottom
          background-color $title-c
          z-index: -1
          
          .csstransforms &
            transform translateY(calc(100% \- 5px))
            trans transform
            
          .no-csstransforms
            opacity 0
            trans opacity
          

        &:hover
          &:before
            .csstransforms &
              transform translateY(calc(100% \- 10px))
            
            .no-csstransforms &
              opacity 1
                

        &.is-active
          color $white-c
          cursor default
          
          &:before
            .csstransforms &
              transform translateY(0)




    &__content
      @extend .uv-typography
      position relative
      height inherit
      color $white-c
      .flexbox &
          @extend .f-grid--14
          
      
      &__section
        absolute left right top bottom
        trans opacity
        opacity 0
        
        .cssvhunit &
          vLine 5vh
          
        .no-cssvhunit &
          vLine 50px

        .flexbox &
          @extend .f-box
          @extend .f-dir--col
          @extend .f-align--1-2
        
        &.is-active
          opacity 1
          

        for $i in 1..$sections-quantity
          &:nth-child({$i})  &__label
            sprite lookup('$for-whom-' + $i)
            



/*----------------------------------------
  Site nav
----------------------------------------*/
.site-nav
  $rt-align-val = s('calc((100% - %s) / 2)', $base-max-w)

  absolute right top
  width 100%
  height 100%
  background-color $title-c
  padding-right $rt-align-val

  .flexbox &
    @extend .f-box
    @extend .f-align--2-3
  
  .csstransforms &
    transform translateX(100%)
    
    &.is-active
      transform translateX(0)


  .no-csstransforms &
    left 100%
    
    &.is-active
      left auto
      right 0
      

  &__opener
    size 20px
    display inline-block
    background-color red
    cursor pointer
    

  &__list
    text-align right
    
  &__link
    display block
    font-size 36px
    font-weight 700
    color $white-c
    trans color

    &:hover
      color $brand-c      

/*----------------------------------------
  Pre-header
----------------------------------------*/
.pre-header
  fixed right left top
  z-index: 1
  
  &__container
    container()
    hLine middle
    text-align right
    
  