make-skewed-bg(x)
  transform: translate3d(0,0,0);
  &:before
    pb top left -50%
    left s('calc(-50% + %s)', x)
    size 100%
    transform skew(-15deg)
    transform-origin 0 0
    background-color $brand-c
    backface-visibility hidden
    z-index: -1


/*----------------------------------------
  Bullit list constructor
----------------------------------------*/
make-bullit-list($clr = $black-c)
  &>*
    position relative
    padding-left 20px
    
    &:before
      absolute left top 1px
      content '•'
      color $clr
      


/*----------------------------------------
  Typography
----------------------------------------*/
.uv-typography
  font-size 18px
  font-weight 300

  h4,ul,li,p
    margin-bottom 5px
  
  h4
    font-weight 700
    line-height 22px

  i
    font-style italic
    
  ul
    make-bullit-list $brand-c
      
  

/*----------------------------------------
  Button
----------------------------------------*/
.uv-btn
  pressable()
  size 100% $h
  height 50px
  border-size 3px
  border-style solid
  padding 0
  font-size: 13px
  font-weight 900
  text-align center
  text-transform: uppercase
  cursor pointer
  overflow hidden
  trans color

  &:focus
    outline none
    
  .csstransforms &
    &:before
      pb left top
      size 100%
      trans transform
      transform rotateY(90deg) skew(45deg)
      backface-visibility hidden
      z-index: -1
      
    &:hover:before
      transform rotateY(0) skew(45deg)
      
  

  -theme($def-c,$hov-c)
    color $def-c
    border-color $def-c

    &:hover
      color $hov-c

    .csstransforms &
      &:before
        background-color $def-c
        
    .no-csstransforms &
      &:hover
        background-color $hov-c
    

  //default theme: black-n-white
  -theme($black-c,$white-c)
  
  &--brand-n-black
    -theme($brand-c,$black-c)
    
  &--white-n-black
    -theme($white-c,$black-c)

/*----------------------------------------
  Sections
----------------------------------------*/
.uv-section
  
  // can't extend parent dependency
  &__container
    container()
    height 100%
    .flexbox &
      @extend .f-box
      @extend .f-dir--col
      @extend .f-align--13-2


  $types = 'gray' 'white' 'brand' 'black'
  
  for $type in $types
    &--{unquote($type)}
      background-color lookup('$' + $type + '-c')



  &__title
    color $black-c
    font-size 48px
    font-weight 900
    text-transform uppercase
    
    &--white
      color $white-c

  

/*----------------------------------------
  Nav unit constructor
----------------------------------------*/
make-nav-unit($def-text-c, $hov-text-c, $def-badge-c, $act-badge-c, $hov-badge-c = null)
  width: 165px
  position relative
  overflow hidden
  color $def-text-c
  font-size 14px
  line-height: 1
  font-weight 700
  text-transform uppercase
  trans()
  cursor pointer

  .csstransforms &
    &:before
      trans()
      pb left right top bottom
      background-color $def-badge-c
      transform translateY(calc(100% \- 5px))
      z-index: -1
 

  &:hover
    .csstransforms &
      &:before
        if $hov-badge-c isnt null
          background-color $hov-badge-c
        else
          background-color $act-badge-c
    .no-csstransforms &
      color $hov-text-c


  &.is-active
    color $hov-text-c
    cursor default
    padding-left 10px
    
    .csstransforms &
      &:before
        background-color $act-badge-c
        transform translateY(0)
    
    .no-csstransforms &
      background-color $act-badge-c



/*----------------------------------------
  Sections
----------------------------------------*/
.s

  /*----------------------------------------
    Hero (section 1)
  ----------------------------------------*/
  &-hero
    $hero-font-c = darken($black-c, 50%)

    position relative
    overflow hidden
    color $hero-font-c
    transform: translate3d(0,0,0) //prevent flicker on button
    make-skewed-bg 325px
    

    &__container
      @extend .uv-section__container
      
      .flexbox &
        @extend .f-align--13-13
      
    
    &__header
      width 475px
      
      .flexbox &
        @extend .f-box
        @extend .f-dir--col
        @extend .f-align--1-2
      


    &__title
      text-transform: uppercase
      font-weight 900
      font-size 130px
      line-height: .75

      &__font-accent
        font-weight 100
        
      &__font-equal
        display block
        letter-spacing 3px


    &__time
      //inherited styles from &__title
      margin-left 5px
      font-size 40px
      font-weight 100
      text-transform: lowercase
      

    &__btn
      @extend .uv-btn
      @extend .uv-btn
      border-width 6px
      height 70px
      margin-y 60px
      

    &__cite
      color #7B6C03
      font-size 14px
      
  
  /*----------------------------------------
    Whats new (section 2)
  ----------------------------------------*/
  &-whats-new
    container()
    height 100%
    
    .flexbox &
      @extend .f-box
      @extend .f-dir--col
      @extend .f-align--1-2
    
    
    &__title
      @extend .uv-section__title
      complex-vunit(margin-bottom, 15vh, 100px)
    

    &__article
      $quantity = 4
      
      position relative
      padding-left 85px
      font-weight 300
      complex-vunit(margin-bottom, 10vh, 50px)

      .flexbox &
        @extend .f-grid--11
      
      .no-flexbox &
        span(1/2)
        padding-right 10%
        
        
      //set icons
      &:before
        pb left top
  
      for $i in 1..$quantity
        &:nth-child({$i}):before
          sprite-retina lookup('$whats-new-' + $i)

      //set spaces
      set-space()
        margin-top: arguments
        &__list
          margin-top: -(arguments)
    

      &__list
        .flexbox &
          @extend .f-box
          @extend .f-align--1-13
          @extend .f-option--wrap
      
    
      &__title
        margin-bottom 10px
        color #444
        font-size 14px
        line-height: 1.2
        font-weight 700
        text-transform uppercase



  /*----------------------------------------
    For whom (section 3)
  ----------------------------------------*/
  &-for-whom
    $sections-quantity = 6px

    @extend .uv-section--black
    make-skewed-bg -110px
    

    &__container
      @extend .uv-section__container
      
      for $i in 1..$sections-quantity
        &.pane-{$i}:before
          img('for-whom-' + $i)
            
      
      &:before
        pb left right top bottom
        background-size cover
        z-index: -2
        
      &:after
        pb left right top bottom
        background-color #000
        z-index: -3
      
      .flexbox &
        @extend .f-box
        @extend .f-align--2-13


    &__header
      .flexbox &
        @extend .f-grid--7


    &__title
      @extend .uv-section__title
      complex-vunit(margin-bottom, 5vh, 50px)
      

    &__nav
      width 200px

      &__unit
        make-nav-unit($black-c,$white-c,$black-c,$black-c)
          
        .flexbox &
          height 10vh
          @extend .f-box
          @extend .f-align--3-1
          padding-bottom 20px
          
        .no-flexbox &
          padding-y 40px 20px



    &__content
      @extend .uv-typography
      position relative
      height inherit
      color $white-c
      .flexbox &
          @extend .f-grid--14
          
      
      &__section
        absolute left right top bottom
        trans opacity
        opacity 0
        
        .cssvhunit &
          vLine 5vh
          
        .no-cssvhunit &
          vLine 50px

        .flexbox &
          @extend .f-box
          @extend .f-dir--col
          @extend .f-align--1-2
        
        &.is-active
          opacity 1
          

        for $i in 1..$sections-quantity
          &:nth-child({$i})  &__label
            sprite lookup('$for-whom-' + $i)
            

  /*----------------------------------------
    Speakers (section 4)
  ----------------------------------------*/
  &-speakers
    $unit-w = 165px
    $unit-h = 275px
    $unit-gap = 30px

    $unit-photo-h = 170px
    
    $bg-c = #191919
    $contrast-c = #242424

    background-color $bg-c

    &__container
      @extend .uv-section__container
      
      .flexbox &
        @extend .f-dir--col
        @extend .f-align--13-2
   

    &__title
      @extend .uv-section__title
      @extend .uv-section__title--white
      complex-vunit(margin-bottom, 5vh, 50px)


    &__header
      complex-vunit(margin-bottom, 3vh, 30px)
      margin-x 25px 15px  //equal incorrect slider centering
      
      .flexbox &
        @extend .f-box
        @extend .f-align--3-13
      .no-flexbox &
        jLine()


    &__nav
      handle-negative-z-index()
      hLine bottom $unit-gap
      max-width ($unit-w + $unit-gap) * 6

      &__unit
        width: $unit-w
        make-nav-unit($white-c, $black-c, $contrast-c, $white-c)

        .flexbox &
          @extend .f-line
          @extend .f-align--2-1
          height 60px
          
        .no-flexbox &
          padding-y 20px
          

    &__person
      size $unit-w $unit-h
      background-color $white-c
      font-weight 300
      line-height: 1.2
      overflow hidden
      
      &__photo
        size $unit-w $unit-photo-h
        position relative
        trans top
        
      &__body
        padding: 10px
        position relative
        trans top
        backface-visibility hidden
      
      &__name
        margin-bottom 5px
        font-weight 700
        font-size 14px
        color $black-c
        text-transform: uppercase

      &:hover &__photo
        complex-transform 'y' -25px

      &:hover &__body
        complex-transform 'y' -15px
      

    &__slider
          
      &__nav
        width $unit-w
        
        .flexbox &
          @extend .f-box
          @extend .f-align--2-13
        .no-flexbox &
          jLine()
          white-space nowrap


      &__arrows
        .flexbox &
          @extend .f-box
          @extend .f-gap--M
          @extend .f-align--1-13
        .no-flexbox &
          hLine top 10px
          
        .bx-prev
        .bx-next
          $h = 55px
          size 40px $h
          position relative
          border 4px solid $contrast-c
          font-size 16px
          color alpha($white-c, .5)
          cursor: pointer
          trans()
          pressable()
          
          .flexbox &
            @extend .f-box
            @extend .f-align--2-2
          .no-flexbox &
            text-align center
            line-height: $h  
        
          &:hover:not(.disabled)
            color $white-c
            border-color alpha($white-c, .5)

          &.disabled
            pressable 0
            cursor default

          &:focus
            outline none
            
        .bx-prev
          @extend .uv-icon--arrow-prev
        .bx-next
          @extend .uv-icon--arrow-next
          
    

      &__counter
        
        &__wrap
          color #4A4949
          font-size 14px
          font-weight 700
          text-transform uppercase


  /*----------------------------------------
    Program (section 5)
  ----------------------------------------*/
  &-program
    @extend .uv-section--gray
    
    &__container
      // @extend .uv-section__container
    
    &__title
      @extend .uv-section__title
      complex-vunit(margin-bottom, 5vh, 50px)
      

    &__body
      .flexbox &
        @extend .f-box
        @extend .f-align--13-3
      .no-flexbox &
        jLine()


    &__nav
      make-nav-unit($black-c, $white-c, $black-c, $black-c, $white-c)
      padding-y 20px
      
      &:hover:before
        background-color $white-c
      
      &__time
        display block
        color #888
        margin-bottom 3px

      
      &__list
        complex-vunit(margin-right, 10vw, 150px)
        handle-negative-z-index()
        width 165px


    &__schedule
      
      .flexbox &
        @extend .f-fill
      .no-flexbox &
        width 70%

      &__unit
        $border-c = #c8c8c8
        trans()
        position relative
        cursor pointer
        border-bottom 1px solid $border-c
        padding-y 15px
        padding-right 50px
        font-size 20px
        font-weight 200
        
        &>*
          position relative //disable overlapping by :before
        
        //hover background
        $gap-x = 20px
        $gap-y = 1px
        &:before
          pb()
          top -($gap-y)
          bottom -($gap-y) 
          left -($gap-x)
          right -($gap-x)
          trans opacity
          opacity 0
          background-color $white-c
          box-shadow 0 0 10px rgba(0, 0, 0, 0.1)
        

        //sign on right
        $primary-c = #3c3c3c
        $secondary-c = $white-c
        $size = 26px
        &:after
          p-ctr y
          content '+'
          right 0
          size $size
          line-height: ($size - 1px)
          text-align center
          background-color $primary-c
          border 2px solid $primary-c
          color $secondary-c
          font-weight 300
          font-size 23px
          trans()


        &:hover
          &:before
            opacity 1
            
          &:after
            background-color $secondary-c
            color $primary-c
            

            
        &:hover  &__header>*:before
          background-color $gray-c
        


        &__header
          $spacer = 25px
          
          hLine baseline $spacer
          margin-bottom 5px
          font-size 12px
          color $black-c
          font-weight 700
          text-transform uppercase

          //divider
          &>*
            position relative
            &:before
              $size = 6px
              pb top 4px
              left -($spacer / 2) - ($size / 2)
              size $size
              background-color $white-c
              border-radius 50%
              trans background-color
              
              
            &:first-child:before
              display none

        
        &--dinner
          hLine middle ($spacer / 2)
          border-y s('4px solid %s', $black-c)
          padding-y 10px
          font-size 12px
          color $black-c
          font-weight 700
          text-transform uppercase
          
          &__icon
            @extend .uv-icon--dinner
            color darken($gray-c, 50%)
    


  
  /*----------------------------------------
    Pricing (section 6)
  ----------------------------------------*/
  &-pricing
    .flexbox &
      @extend .f-box
      

    $section = unquote('.s-pricing__type')
    $light-c = $gray-c //don't reorder with $gray-c at 731 line
    $gold-c = $brand-c
    $premium-c = $black-c
        
      
    &__type
      test()
      $gray-c = #888

      .flexbox &
        @extend .f-box
        @extend .f-dir--col
        @extend .f-align--13-2
        width (100% / 3)

      .no-flexbox &
        span(1/3)      
      

      //icon
      &:before
        content ''
        display block
        margin-x auto
        complex-vunit(margin-bottom, 3vh, 30px)


      $types = 'light' 'gold' 'premium'
      
      for $type in $types
        &.{unquote($type)}
          background-color lookup('$' + $type + '-c')
          &:before
            sprite-retina lookup('$pricing-' + $type)
                

      
      &__container
        backface-visibility hidden
        container 60%
        font-weight 200
        font-size 16px
        
    
      &__header
        color $gray-c
        complex-vunit(margin-bottom, 3vh, 30px)


      &__title
        color $black-c
        font-size 36px
        font-weight 900
        text-align center
        complex-vunit(margin-bottom, 3vh, 30px)
        text-transform: capitalize
   

      &__list
        make-bullit-list $black-c
        vLine 10px
        

      $footer-fz = 14px
      
      &__footer
        complex-vunit(margin-top, 15vh, 135px)
        font-size $footer-fz
        color $gray-c


      &__price
        font-size 24px
        &:after
          content 'грн'
          margin-x 4px
          font-size $footer-fz
        
        &.early
          color $black-c


      &__btn
        @extend .uv-btn
        border-width 4px
        margin-top 10px
        


      //improvements for black section
      &.premium
        color #999
        

      &.premium  &__header
        color inherit

      &.premium  &__title
        color $brand-c
        
      &.premium  &__list
        make-bullit-list $brand-c

      &.premium  &__footer
        color #555

      &.premium  &__price.early
        color #e9e9e9

      &.premium  &__btn
        @extend .uv-btn--brand-n-black


/*----------------------------------------
  Site nav
----------------------------------------*/
.site-nav
  $rt-align-val = s('calc((100% - %s) / 2)', $base-max-w)

  absolute right top
  width 100%
  height 100%
  background-color $black-c
  padding-right $rt-align-val

  .flexbox &
    @extend .f-box
    @extend .f-align--2-3
  
  .csstransforms &
    transform translateX(100%)
    
    &.is-active
      transform translateX(0)


  .no-csstransforms &
    left 100%
    
    &.is-active
      left auto
      right 0
      

  &__opener
    size 20px
    display inline-block
    background-color red
    cursor pointer
    

  &__list
    text-align right
    
  &__link
    display block
    font-size 36px
    font-weight 700
    color $white-c
    trans color

    &:hover
      color $brand-c      

/*----------------------------------------
  Pre-header
----------------------------------------*/
.pre-header
  fixed right left top
  z-index: 1
  
  &__container
    container()
    hLine middle
    text-align right
    
  