extends ./layout/base.jade


block content

  .onepage

    include ./layout/header.jade
    include ./sections/section-whats-new.jade
    include ./sections/section-for-whom.jade
    include ./sections/section-speakers.jade
    include ./sections/section-program.jade
    include ./sections/section-pricing.jade
    include ./sections/section-video.jade
    //footer is in this section
    include ./sections/section-partners.jade



